/* Body and Global */
body {
	color: #fff;
	font-size: 16;
	line-height: 1.5;
	font-family: sans-serif;
	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

/* Elements */

ul {
	font-size: 2rem;
	text-decoration: none;
}

input[type="button"] {
	background: #FEFF00;
	padding: 10px;
	text-decoration: none;
	border-radius: 4px;
}

input[type="text"] {
    padding: 16px 15px 14px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #333;
    flex: 1 1 300px;
}

.form-section button {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 30px;
}

/* Layout */

section {
	padding: 15px;
}

#main {
	display: flex;
}

.form-section {
	width: 50%;
}

.flex-form {
	display: flex;
}

.flex-form input {
	flex: 3 1 300px;
}

.flex-form button {
	flex: 1 1 100px;
}

.wrapper {
	display: flex;
	max-width: 100%;
	flex-direction: column;
	align-items: center;
}